@import "../../styles/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");


.field{
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    color: white;
    letter-spacing: .5px;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: dotted 0.063rem $formant-color-primary-silver;
    max-height: 6.1rem;
    min-width: 25rem;
    width: 100%;
    &:focus-within{
        border-bottom: none;
        label{
            top: .8rem;
            font-size: 1.3rem;
            text-align: left;
            pointer-events: none;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            color: $formant-color-highlights-blue;
        }
    }

    &-input{
        &:focus {
            border: solid 1px $formant-color-highlights-blue;
            background: $formant-color-primary-black;
            border-radius: .4rem;
            outline: none;
        }
        box-sizing: border-box;
        letter-spacing: inherit;
        height: 6rem;
        max-height: 6rem;
        padding: 1.8rem 2rem 0px;
        background-color: $formant-color-primary-steel02;
        color: inherit;
        line-height: 4rem;
        font-size: inherit;
        border-radius: .4rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        flex: 1;
        border: 0.063rem solid $formant-color-primary-steel02;
        -webkit-transition: border-color 200ms ease-in-out 0ms , color 200ms ease-in-out 0ms , background-color 200ms ease-in-out 0ms , padding 200ms ease-in-out 0ms;
        will-change: border-color , color , background-color , padding;
    }
    &-label{
        background: none;
        top: 2rem;
        font-size: 1.9rem;
        left: 2rem;
        color: $formant-color-primary-silver;
        position: absolute;
        -webkit-transition: top 100ms ease-in-out 0ms;
        will-change: top;
    }
}