@import "../../styles/colors.scss";

:root {
  box-sizing: border-box;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: $formant-color-primary-flagship;
}

::-webkit-scrollbar-thumb {
  border-radius: 2.5rem;
  height: 3rem;
  background-color: $formant-color-primary-silver;
}

body {
  margin: 0;
  padding: 0 !important;
  overflow-x: hidden;
}

.formant {
  position: relative;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: calc(100vh - 2rem);
  min-width: 100%;
  background-color: $formant-color-primary-flagship;
  &-application {
    background-color: $formant-color-primary-flagship;
  }
  &-module {
    background-color: $formant-color-primary-module;
  }
}
