$formant-color-primary-black: #000000;
$formant-color-primary-dark: #0a0b10;
$formant-color-primary-flagship: #1c1e2d;
$formant-color-primary-module: #2d3855;
$formant-color-primary-steel01: #282f45;
$formant-color-primary-steel02: #3b4668;
$formant-color-primary-steel03: #657197;
$formant-color-primary-silver: #bac4e2;
$formant-color-primary-white: #ffffff;
$formant-color-highlights-blue: #18d2ff;
$formant-color-highlights-royal-blue: #20a0ff;
$formant-color-highlights-purple: #a961e4;
$formant-color-highlights-blue-ice: #f0f7fe;
$formant-color-highlights-off-white: #f8f9fc;
$formant-color-severity-levels-green: #2ec495;
$formant-color-severity-levels-royal-blue: #20a0ff;
$formant-color-severity-levels-purple: #a961e4;
$formant-color-severity-levels-orange: #f89973;
$formant-color-severity-levels-red: #ea719d;
$formant-color-health-status-active: #18d2ff;
$formant-color-health-status-inactive: #bac4e2;
$formant-color-health-status-warning: #a961e4;
$formant-color-health-status-offline: #f89973;
$formant-color-groups-patina: #738e6a;
$formant-color-groups-adamantine: #0495a6;
$formant-color-groups-mithril: #76a7dc;
$formant-color-groups-rhenium: #494db3;
$formant-color-groups-palladium: #7565aa;
$formant-color-groups-iron: #735478;
$formant-color-groups-copper: #6d5058;
$formant-color-groups-electrum: #996e81;
$formant-color-groups-gold: #a18370;
$formant-color-data-green: #2ec495;
$formant-color-data-mint: #64d7d4;
$formant-color-data-royal-blue: #20a0ff;
$formant-color-data-purple: #a961e4;
$formant-color-data-red: #ea719d;
$formant-color-data-orange: #f89973;
$formant-color-data-yellow: #f9c36e;
$formant-color-data-green-dark: #2d8376;
$formant-color-data-mint-dark: #64d7d4;
$formant-color-data-royal-blue-dark: #20a0ff;
$formant-color-data-purple-dark: #564a94;
$formant-color-data-red-dark: #7f5072;
$formant-color-data-orange-dark: #94645f;
$formant-color-data-yellow-dark: #9a8261;
